<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>DriverClassName</env-entry-name>
        <env-entry-value>org.sqlite.JDBC</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <env-entry-name>Url</env-entry-name>
        <!--<env-entry-value>jdbc:mysql://localhost:3306/team27_db</env-entry-value> This was an attempt on using a local database-->
        <env-entry-value>jdbc:sqlite:/home/vice/NetBeansProjects/TimeBoxer/timeBoxerDB.sqlite</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <env-entry-name>UserId</env-entry-name>
        <env-entry-value>usernameDefault</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <env-entry>
        <env-entry-name>Password</env-entry-name>
        <env-entry-value>passWord</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload</param-name> 
        <!-- This version is for storing locally -->
        <!-- /Users/greatwmc/NetBeansProjects/CS347-2/JMU-Share/ -->
        <param-value>/tmp/team27/</param-value> 
    </context-param>
</web-app>
